absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.9.1
altair==4.2.2
anyio==3.6.2
apispec==3.3.2
argcomplete==2.0.0
astroid==2.15.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
azure-core==1.26.4
azure-storage-blob==12.16.0
Babel==2.11.0
black==23.3.0
blinker==1.5
blis==0.7.9
breadability==0.1.20
CacheControl==0.12.11
cachelib==0.9.0
cachetools==5.3.0
catalogue==2.0.8
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
commonmark==0.9.1
confection==0.0.4
ConfigUpdater==3.1.1
connexion==2.14.1
cron-descriptor==1.2.32
croniter==1.3.8
cryptography==39.0.0
cymem==2.0.7
decorator==5.1.1
Deprecated==1.2.13
dialogflow==2.0.0
dill==0.3.6
dnspython==2.2.1
docopt==0.6.2
docutils==0.19
email-validator==1.3.0
entrypoints==0.4
filelock==3.12.0
firebase-admin==6.1.0
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
flatbuffers==23.3.3
fpdf==1.7.2
frozenlist==1.3.3
gast==0.4.0
gcloud==0.18.3
gitdb==4.0.10
GitPython==3.1.30
google-api-core==1.34.0
google-api-python-client==2.83.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-dialogflow==2.19.1
google-cloud-firestore==2.10.0
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.51.1
grpcio-status==1.48.2
gunicorn==20.1.0
h11==0.14.0
h5py==3.8.0
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
huggingface-hub==0.13.4
idna==3.4
importlib-metadata==6.0.0
inflection==0.5.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
langcodes==3.3.0
lazy-object-proxy==1.9.0
libclang==16.0.0
linkify-it-py==2.0.0
lockfile==0.12.2
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
ml-dtypes==0.1.0
msgpack==1.0.5
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.4
opt-einsum==3.3.0
packaging==23.0
pandas==1.3.3
pathspec==0.9.0
pathy==0.10.1
pendulum==2.1.2
Pillow==9.4.0
platformdirs==3.2.0
pluggy==1.0.0
preshed==3.0.8
prison==0.2.1
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.9.4
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.0
PyDrive==1.3.1
Pygments==2.14.0
PyJWT==2.6.0
pylint==2.17.2
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-daemon==2.3.2
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==7.0.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
regex==2023.3.23
reportlab==3.6.12
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==13.0.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
semver==2.13.0
setproctitle==1.3.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.39.0
sqlparse==0.4.3
srsly==2.4.6
st-star-rating==0.0.3
streamlit==1.17.0
sumy==0.11.0
swagger-ui-bundle==0.0.9
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
text-unidecode==1.3
thinc==8.1.9
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.11.7
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
transformers==4.28.1
typer==0.7.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.1
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.14
validators==0.20.0
wasabi==1.1.1
watchdog==2.2.1
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
xyzservices==2023.2.0
yarl==1.8.2
zipp==3.12.0
